# Node
backend/node_modules
backend/dist
backend/.env

# Prisma
backend/prisma/dev.db

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
