services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/appdb
      - JWT_SECRET=dev_secret
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules

  driver_backend:
    build:
      context: ./stage3driver
      dockerfile: Dockerfile
    ports:
      - "4001:4001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/appdb
      - JWT_SECRET=dev_secret
      - PORT=4001
    depends_on:
      - db
    volumes:
      - ./stage3driver:/app
      - /app/node_modules

volumes:
  dbdata:
